home/bitbar/disabled
home/bitbar/git-repo-stars.1h.js
home/docker
home/gitconfig
home/js/maedchenflohmarkt.de.js
home/js/xbox-volker-wieban.env.xing.com.js
home/ssh

home/hyper_plugins
!home/hyper_plugins/local
